.DS_Store
Backend/__pycache__
Backend/Tests/__pycache__
__pycache__/
*.pyc
.env
node_modules/
__pycache__/
Prove-It (Repo)/Server (Backend)/node_modules
Prove-It (Repo)/Server (Backend)/.env
Client/.env
Python-services/.env